html{
    background-color: rgb(231, 214, 214);
    font-size: xx-large;
    font-family: 'Work Sans', sans-serif;
    }
button {
    background-color: lightblue;
    font-family: 'Work Sans', sans-serif;
    font-size: x-large;
    }
a {
    text-decoration: none;
    }