html{
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(231, 214, 214);
    font-size: x-large;
}

button {
    
    background-color: lightblue;
    font-family: 'Work Sans', sans-serif;
    font-size: x-large;
}
a {
    text-decoration: none;
}